# Render environment variables for this project
# Add these in Render -> Service -> Environment.
GEMINI_API_KEY="MY_GEMINI_API_KEY"
APP_URL="MY_APP_URL"
VITE_FIREBASE_API_KEY="AIzaSyDXkZ08gcJg8eU_tlz5gpB1DoH3nJ_HdE8"
VITE_FIREBASE_AUTH_DOMAIN="customer-portal-49149.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="customer-portal-49149"
VITE_FIREBASE_STORAGE_BUCKET="customer-portal-49149.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="664994855041"
VITE_FIREBASE_APP_ID="1:664994855041:web:1a789de566bc0976797580"
VITE_FIREBASE_MEASUREMENT_ID="G-5S39S116EG"
VITE_FIREBASE_OAUTH_CLIENT_ID=""
VITE_FIREBASE_RECAPTCHA_SITE_KEY=""
